---
layout: page
title: Algorithms and Complexity
tagline: Research group at <a href="https://en.itu.dk/">IT University of Copenhagen</a>
---
{% include JB/setup %}

<!--<img alt="Group Photo from February 2015" src="images/algorithms-group-feb-2015-shallow.png" class="img-responsive">-->

<div class="row" style="padding-top: 3em;">
  <div class="col-md-1"></div>
  <div class="col-md-4">
<h3>Current members</h3>

{% assign members = site.data.members | sort: 'last' %}

<ul class="list-unstyled">
{% for member in members %}
<li>{% if member.url %}<a href="{{member.url}}">{% endif %}
{{ member.first }}
{{ member.last }}
{% if member.url %}</a>{% endif %}
{% if member.position %}({{ member.position }}){% endif %}
</li>
{% endfor %}
</ul>

  </div>

{% if false %}
{% for member in members %}
{% if member.url %}<a href="{{member.url}}">{% endif %}
{{ member.first }}
{{ member.last }}
{% if member.url %}</a>{% endif %}
{% unless forloop.last %} • {% endunless %}
{% endfor %}

<h3>Recent news</h3>

<ul class="posts">
  {% for post in site.categories.news limit:3 %}
    <li><span>{{ post.date | date_to_string }}:</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<a href="news.html">[More news]</a>

<h3>Events</h3>

<ul class="posts">
  {% for post in site.categories.events limit:3 %}
    <li><span>{{ post.date | date_to_string }}:</span>
        {% if post.speaker %} {{post.speaker}} speaks on {% endif %}
      <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<a href="events.html">[More events]</a>
{% endif %}


  <div class="col-md-4">
<h3>Former members</h3>

{% assign members = site.data.previous-members | sort: 'last' %}
<ul class="list-unstyled">
{% for member in members %}
<li>{% if member.url %}<a href="{{member.url}}">{% endif %}
{{ member.first }}
{{ member.last }}
{% if member.url %}</a>{% endif %}
{% if member.position %}({{ member.position }})
{% if member.ended %}until {{ member.ended }}{% endif %}
{% endif %}
</li>
{% endfor %}
</ul>

</div>
<div class="col-md-3">
  <h4>Contact</h4>
  IT University of Copenhagen<br />
  Wing 4B
  <br />
  <br />
  Rued Langgaards Vej 7<br />
  2300 København
</div>
</div>
<div class="row" style="padding-top: 3em; padding-bottom: 3em;">
  <div class="col-md-1"></div>
  <div class="col-md-6">
<h3>Seminar</h3>
<p>We have a weekly seminar all Mondays at 10:05, see <a href="https://sites.google.com/view/algocomp-itu">seminar schedule</a> for more information. Everyone is welcome. </p>    
<h3>Student projects</h3>
<p>
In the Algorithms and Complexity group at IT University of Copenhagen, we offer students a variety of different topics for their research projects as well as for their Bachelor's or Master's thesis. These range from algorithm engineering (implementing and testing algorithms), over theory (coming up with new results in algorithms and complexity), to visualization (visualizing existing algorithms, mostly for pedagogical purposes), and others!
</p>

<p>
For an incomplete list of currently offered topics, please look as the following document (requires ITU account):
</p>

<a href="https://ituniversity-my.sharepoint.com/:w:/g/personal/hold_itu_dk/Edi6wLXoVlpKrZ8LaAok9DoBaZ6JyFtGr01lkwiLZggt6A?e=kX6AhD" style="padding: 8px; background-color: darkred; color: white; font-weight: bold;">
Go to university-shared document
</a>
</div>
