---
layout: page
title: Algorithms
tagline: Algorithms research at ITU Copenhagen
---
{% include JB/setup %}

<img src = "images/algorithms-group-feb-2015-shallow.png" class="img-responsive">

<h3>Current members</h3>

{% assign members = site.data.members | sort: 'last' %}

{% for member in members %}
{{ member.last }}
{% unless forloop.last %} • {% endunless %}
{% endfor %}

<h3>Recent news</h3>

<ul class="posts">
  {% for post in site.categories.news limit:3 %}
    <li><span>{{ post.date | date_to_string }}:</span> <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h3>Talks</h3>

<ul class="posts">
  {% for post in site.categories.talk limit:3 %}
    <li><span>{{ post.date | date_to_string }}:</span>
        {% if post.speaker %} {{post.speaker}}, {% endif %}
      <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
